@* _Footer.cshtml *@
<footer class="border-top footer bg-dark text-white p-3">
    <div class="container">
        &copy; 2025 - LibraryManagementSystem -
        <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-decoration-none text-warning">
            Privacy
        </a>
    </div>
</footer>

@* JS dosyalarını da burada tutabiliriz *@
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>